/* -------------- 스타일링 시작 */

.container {
  margin: 16px;
}

.box_qoupang {
  border-top: 1px solid #DEE0E3;
  padding: 16px 0;
}

.box_qoupang:first-child, .box_qoupang:last-child {
  border: none;
}

.thumb_product {
  width: 100%;
}

.tit_product {
  margin: 0;
  font-size: 20px;
}

.wrap_price {
  margin-top: 15px;
  overflow: hidden;
}

.list_price {
  float: right;
  margin-top: 1px;
}

.list_percent {
  float: left;
}

.price_items {
  display: inline-block;
  vertical-align: top;
  font-size: 22px;
  color: #333;
  font-weight: bold;
}

.del_item del {
  font-size: 16px;
  font-weight: bold;
  color: #999;
  margin-right: 6px;
}

.percent_items {
  font-size: 24px;
  font-weight: bold;
  color: #6B90DC;
}

.wrap_help .inner_help {
 display: none; 
}

.wrap_help.on .inner_help {
  display: block;
}


.wrap_help .ico_store {
  width: 16px;
  height: 16px;
  background-position: -12px 0;
}

.inner_help{
  background-color: #fff;
  border: 1px solid #DEE0E3;
  width: 296px;
}

/* https://hianna.tistory.com/413 */
input:invalid {
  border-color: #ff0000;
}

.bth_start {
  height: 48px;
  background-color: #03C75A;
  width: 100%;
  border-radius: 6px;
  text-align: center;
}

.bth_start:hover {
  background-color: #0AAE4F;
}

.bth_start.disable {
  background-color: #DEE0E3; 
  cursor: not-allowed;
  color: #999;
}

.bth_start.disable .ico_store {
  background-position: -35px -58px;
}

.bth_start.disable .txt_start {
  color: #999;
}

.bth_start .txt_start {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  display: block;
  line-height: 47px;
}

.bth_start .ico_store {
  width: 28px;
  height: 28px;
  background-position: -35px 0;
  margin: 10px 8px 0 0;
}

